@font-face {
    font-family: 'OpenSans-Regular';
    font-weight: 400;
    font-style: normal;
    src: local('OpenSans-Regular'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    font-weight: 600;
    font-style: normal;
    src: local('OpenSans-SemiBold'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('OpenSans-Bold'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Ruda-SemiBold';
    font-weight: 600;
    font-style: normal;
    src: local('Ruda-SemiBold'),
        url('../fonts/Ruda-SemiBold.woff2') format('woff2'),
        url('../fonts/Ruda-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Ruda-Black';
    font-weight: 900;
    font-style: normal;
    src: local('Ruda-Black'),
        url('../fonts/Ruda-Black.woff2') format('woff2'),
        url('../fonts/Ruda-Black.woff') format('woff');
    font-display: swap;
}