{% set pageName = "Новости"%}
{% set pageBreadcrumb = "Публикация"%}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фрешок</title>
    <link rel="stylesheet" href="css/blog-one.min.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    {% include 'app/module/_header/_header.html' %}

    <main class="main">
        {% include 'app/module/_top/_top.html' %}

        <section class="blog-page blog-one">
            <div class="container">
                <div class="blog-page__inner">
                    <div class="blog-page__content blog-one__content">
                        <img class="blog-page__img" src="images/blog/1-big.jpeg" alt="blog img">
                        <div class="blog-one__text">
                            <ul class="blog-one__info">
                                <li class="blog-one__info-item">
                                    <a class="blog-one__info-link" href="#">20 мая 2022</a>
                                </li>

                                <li class="blog-one__info-item">
                                    <a class="blog-one__info-link" href="#">Генеральный директор</a>
                                </li>
                            </ul>
                            <h4>Далеко-далеко за словесными горами, в стране гласных и согласных живут рыбные тексты.
                            </h4>
                            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                Предупреждал жаренные дал встретил не буквенных от всех по всей прямо несколько лучше
                                рыбного алфавит одна рукопись языком, реторический меня бросил знаках продолжил которой
                                деревни маленький безорфографичный на берегу! Букв вершину вопрос снова дороге там
                                продолжил над подпоясал.</p>
                            <blockquote>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные
                                тексты. Вдали, маленький! Свой моей себя грамматики раз злых предложения коварных.
                            </blockquote>
                            <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                Маленькая реторический великий, щеке его жаренные там!
                                Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. По всей гор необходимыми рот дороге текст, семь запятой проектах текста свою живет свое? Его всеми залетают выйти переписали, текстов, языком рыбного страна рукописи предложения все жизни своих запятой рекламных свою гор подпоясал ведущими раз речью. Единственное щеке реторический страну правилами.
                            </p>
                            <img class="blog-one__left" src="images/blog/2.jpg" alt="blog img">
                            <p>Далеко-далеко, за словесными горами в стране гласных и согласных живут рыбные тексты.
                                Единственное на берегу рукопись предупреждал снова бросил букв агентство, продолжил
                                прямо первую своих? Скатился, до. Приставка вскоре эта снова пунктуация толку? Путь,
                                своего. Все то знаках, гор наш если оксмокс деревни там алфавит, приставка щеке меня
                                большого однажды от всех на берегу дороге?
                            </p>
                        </div>

                        <div class="blog-one__author">
                            <img class="blog-one__author-img" src="images/avatar/ceo.jpeg" alt="avatar author">
                            <div class="blog-one__author-info">
                                <h5 class="blog-one__author-name">Олег Газманов</h5>
                                <p class="blog-one__author-text">Далеко-далеко за словесными горами в стране гласных и
                                    согласных живут рыбные тексты. Переписали вопроса себя, рукопись страна
                                    парадигматическая сбить алфавит обеспечивает. Составитель, пор? Переписали решила
                                    дороге жизни?</p>
                            </div>
                        </div>

                        <div class="comments__title">
                            2 комментария
                        </div>

                        <div class="comments">
                            <img class="comments__img" src="images/avatar/1.jpeg" alt="avatar">
                            <div class="comments__content">
                                <div class="comments__top">
                                    <p class="comments__top-name">Василий Уткин</p>
                                    <p class="comments__top-date">2 дня назад</p>
                                </div>
                                <p class="comments__content-text">
                                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные
                                    тексты. Путь всемогущая живет злых пунктуация, за парадигматическая, рукопись
                                    решила предложения послушавшись рукописи ведущими назад грустный.
                                </p>
                                <a class="comments__content-reply" href="#">Ответить</a>
                            </div>
                        </div>

                        <div class="comments">
                            <img class="comments__img" src="images/avatar/2.jpeg" alt="avatar">
                            <div class="comments__content">
                                <div class="comments__top">
                                    <p class="comments__top-name">Лена Головач</p>
                                    <p class="comments__top-date">4 дня назад</p>
                                </div>
                                <p class="comments__content-text">
                                    Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные
                                    тексты.
                                </p>
                                <a class="comments__content-reply" href="#">Ответить</a>
                            </div>
                        </div>

                        <form class="comments__form" action="#">
                            <p class="comments__form-title">Оставьте свой комментарий</p>
                            <div class="comments__form-textbox">
                                <input class="comments__form-text" type="text" placeholder="Ваше имя">
                                <input class="comments__form-text" type="text" placeholder="Ваша эл. почта">
                            </div>
                            <textarea class="comments__form-textarea" placeholder="Ваш отзыв"></textarea>
                            <button class="comments__form-btn btn" type="submit">Оставить комментарий</button>
                        </form>

                    </div>

                    <div class="blog-page__aside">

                        <div class="filter-search filter__item">
                            <h3 class="filter__title">Поиск</h3>
                            <form class="filter-search__form" action="#">
                                <input class="filter-search__input" type="text"
                                    placeholder="Введите название товара...">
                                <button class="filter-search__btn" type="submit">
                                    <img src="images/icon/icon-search__white.svg" alt="search images">
                                </button>
                            </form>
                        </div>

                        <div class="person">
                            <img class="person__img" src="images/avatar/ceo.jpeg" alt="ceo avatar">
                            <div class="person__name">
                                Олег Газманов
                            </div>
                            <div class="person__position">
                                Директор & Основатель
                            </div>
                            <p class="person__text">
                                Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты.
                                Запятой путь языкового которое букв переулка необходимыми единственное, деревни оксмокс.
                            </p>
                        </div>

                        <div class="latest-post">
                            <h4 class="latest-post__title">
                                Последние новости
                            </h4>

                            <div class="latest-post__item">
                                <a class="latest-post__img-link" href="#">
                                    <img class="latest-post__img" src="images/blog/1.jpg" alt="post">
                                </a>
                                <div class="latest-post__box">
                                    <a class="latest-post__box-title" href="#">
                                        Далеко-далеко за словесными горами в стране.
                                        <span class="latest-post__box-date">18.05.2022</span>
                                    </a>
                                </div>
                            </div>

                            <div class="latest-post__item">
                                <a class="latest-post__img-link" href="#">
                                    <img class="latest-post__img" src="images/blog/2.jpg" alt="post">
                                </a>
                                <div class="latest-post__box">
                                    <a class="latest-post__box-title" href="#">
                                        Далеко-далеко за словесными горами в стране.
                                        <span class="latest-post__box-date">19.05.2022</span>
                                    </a>
                                </div>
                            </div>

                            <div class="latest-post__item">
                                <a class="latest-post__img-link" href="#">
                                    <img class="latest-post__img" src="images/blog/3.jpg" alt="post">
                                </a>
                                <div class="latest-post__box">
                                    <a class="latest-post__box-title" href="#">
                                        Далеко-далеко за словесными горами в стране.
                                        <span class="latest-post__box-date">22.05.2022</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="filter__item filter-category">
                            <h3 class="filter__title">Категории</h3>
                            <form class="filter-category__form" action="#">
                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <div class="filter-category__checkbox">
                                        <span>Фрукты</span>
                                        <span>6</span>
                                    </div>
                                </label>

                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <div class="filter-category__checkbox">
                                        <span>Овощи</span>
                                        <span>2</span>
                                    </div>
                                </label>

                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox" checked>
                                    <div class="filter-category__checkbox">
                                        <span>Напитки</span>
                                        <span>2</span>
                                    </div>
                                </label>

                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <div class="filter-category__checkbox">
                                        <span>Мясо</span>
                                        <span>1</span>
                                    </div>
                                </label>

                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <div class="filter-category__checkbox">
                                        <span>Рыба</span>
                                        <span>1</span>
                                    </div>
                                </label>

                                <label class="filter-category__label">
                                    <input class="filter-category__input" type="checkbox">
                                    <div class="filter-category__checkbox">
                                        <span>Бакалея</span>
                                        <span>2</span>
                                    </div>
                                </label>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>


    </main>

    {% include 'app/module/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
</body>

</html>