<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фрешок</title>
    <link rel="icon" href="images/icon/home.svg">
    <link rel="stylesheet" href="css/index.min.css">
</head>

<body>
    {% include 'app/module/_header/_header.html' %}

    <main class="main">

        {% include 'app/module/_top-slider/_top-slider.html' %}

        {% include 'app/module/_advantages/_advantages.html' %}

        {% include 'app/module/_product/_product.html' %}

        {% include 'app/module/_banners/_banners.html' %}

        {% include 'app/module/_stock/_stock.html' %}

        {% include 'app/module/_blog/_blog.html' %}
        

    </main>

    {% include 'app/module/_footer/_footer.html' %}

    <script src="js/main.min.js"></script>
</body>

</html>