.banners {
    margin-bottom: 70px;

    &__inner {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 32px;
        height: 300px;
        border-radius: 6px;
        text-transform: uppercase;
        color: $subtitle;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__item:nth-child(1) {
        color: #fff;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
        grid-column: span 2;

        & .banners__text {
            max-width: 436px;
        }

        & .banners__link {
            border-bottom: 2px solid #fff;
        }
    }

    &__title,
    &__link {
        @extend %opensans-700;
        line-height: 1;
    }

    &__title {
        font-size: 12px;
        margin-bottom: 20px;
    }

    &__text {
        @extend %ruda-600;
        font-size: 30px;
        margin-bottom: 10px;
        max-width: 160px;
    }

    &__link {
        width: max-content;
        border-bottom: 2px solid $subtitle;
        padding-bottom: 5px;
    }
}

@media (max-width:1320px) {
    .banners {
        &__item:nth-child(1) {
            grid-column: span 1;
        }
    }
}

@media (max-width:576px) {
    .banners {
        margin-bottom: 50px;

        &__inner {
            grid-gap: 15px 0;
        }
    }
}